%aside.nano
	.content
		.box
			%img{src: "http://placehold.it/500x350"}

		.box
			%img{src: "http://placehold.it/500x350"}

		.box
			%img{src: "http://placehold.it/500x350"}

		.box
			%img{src: "http://placehold.it/500x350"}

.container.index<
	.word
		= image_tag('tv.png')
		%h2 Regardez
	.word
		= image_tag('book.png')
		%h2 Apprenez
	.word
		= image_tag('tools.png')
		%h2 Créez
