@import "colors";
@import "mixins";

@keyframes sidebar {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0px;
		opacity: 1;
	}
}

@-webkit-keyframes sidebar {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0px;
		opacity: 1;
	}
}
aside {
	-webkit-animation: sidebar 1s;
	width: 25%;
	@media screen and (max-width: 600px) {
		display: none;
	}
	@media screen and (min-width: 600px) and (max-width: 1110px) {
		width: 35% !important;
	}
	
	&.show {
		width: 20% !important;
	}

	background-color: $gray;
	margin: 0;
	height: 90%;
	position: fixed;
	top: 80px;
	overflow: hidden;

	.box {
		border-bottom: 2px solid $gray;
		height: 280px;
		position: relative;
		-webkit-transition: all 1s linear;
		// @include transition(all, 2s, linear);

		&:hover {
			@include transition(all, 2s, linear);
			.titre {
				opacity: 1;
				background-color: rgba($gray, 0.7);
			}
		}

		img {
			width: 100%;
			height: 100%;
		}
		.titre {
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 40px;
			background-color: rgba($gray, 0.3);
			text-align: center;
			color: white;
			font-family: "Lato";
			font-weight: bold;
			line-height: 35px;
			opacity: 0.8;
		}
	}
}
