@import "colors";
@import "mixins";

.form {
	&.registration {
		width: 75%;
	}
	&.login {
		@media screen and (max-width: 1024px) {
			width: 80%;	
		}
		@media screen and (min-width: 1024px) {
			width: 40%;
		}
		
		a {
			color: $gray;
		}
		.field {
			height: 55px;

			label {
				float: left;
				width: 20%;
				height: 30px;
				text-align: right;
				line-height: 35px;
			}
			input {
				float: right;
				margin-bottom: 15px;
			}
		}
		.center {
			margin: auto;
			width: 40%;
		}
	}

	&.new_screencast {
		form {
			width: 65%;
			margin: 25px auto 25px auto;
		}
		h2 {
			margin: 0;
			font-size: 35px;
			border-bottom: 4px solid $gray;
			font-family: "Lato";
			font-weight: 900;
			margin-bottom: 35px;
		}

		label {
			font-family: "Lato";
			margin-right: 15px;
		}
		text-align: center;

		input:not([type=submit]):not([type=file]):not([type=checkbox]) {
			width: 75%;
			height: 35px;
			font-size: 20px;
			background-color: #EEEFF0;
			@include border-radius(5px);
			border: 2px solid rgba($gray, 0.3);
			margin-bottom: 20px;
		}
		input[type=checkbox] {
			display: inline-block;
			margin: 20px;
			
		}
		label.boolean {
			display: inline-block;
			margin:auto;
		}
		textarea {
			display: block;
			margin: auto;
			width: 75%;
			height: 135px;
			font-size: 14px;
			background-color: #EEEFF0;
			@include border-radius(5px);
			border: 2px solid rgba($gray, 0.3);
		}
	}

	.profil_edition {
		color: $black;
		background-color: white;
		border: 1px solid rgba($gray, 0.3);
		@include border-radius(3px);
		padding: 20px;
		height: 500px;

		h2 {
			margin: 0;
			font-size: 35px;
			border-bottom: 4px solid $gray;
			font-family: "Lato";
			font-weight: 900;
			margin-bottom: 35px;
		}

		label {
			font-family: "Lato";
			float: left;
			width: 25%;
		}
		input[type=file] {
			margin-left: 25px;
		}
		input:not([type=submit]):not([type=file]) {
			float: right;
			width: 70%;
			height: 30px;
			font-size: 18px;
			background-color: #EEEFF0;
			@include border-radius(5px);
			border: 2px solid rgba($gray, 0.3);
		}
		input[type=submit] {
			margin-top: 25px;
		}
		span.hint {
			font-family: "Lato";
			font-size: 12px;
			clear: both;
			display: block;		
			width: 150px;
			position: relative;
			top: -13px;
		}
		.input {
			height: 65px;
		}
		.edit_part {
			float: left;
			width: 60%;
		}
		.cancel_part {
			float: right;
			width: 38%;
			border-left: 3px solid $gray;
			height: 400px;
			@include border-box();

			h3 {
				margin: 0;
				font-size: 25px;
				border-bottom: 3px solid $gray;
				font-family: "Lato";
				text-align: center;

				&.cancel_ab {
					margin-top: 50px;
				}
			}
			.cancel {
				margin-top: 20px;
				a {
					width: 85%;
					display: block;
					text-align: center;
					margin: auto;
				}
			}
		}
		
	}

	.register-box {
			background-color: white;
			@include border-radius(3px);

			// background-color: $gray;
			color: $gray;
			text-align: center;
			padding: 20px;
			// border: 4px solid $gray;
			// @include border-radius(5px);

			h2 {
				margin: 0;
				font-size: 35px;
				border-bottom: 4px solid $gray;
				font-family: "Lato";
				font-weight: 900;
				margin-bottom: 35px;
			}

			label {
				font-family: "Lato";
			}

			.step {
				width: 46%;
				padding: 15px;
				height: 300px;

				h3 {
					font-family: "Aleo-Bold";
				}
				&.step1 {
					float: left;
					margin-right: 15px;
					border-right: 4px solid rgba($gray, 0.8);

				}
				&.step2 {
					float: right;
				}
				&.step3 {
					width: 97%;
					clear: both;
					border-top: 4px solid rgba($gray, 0.8);
					
					select {
						margin-top: 10px;
						-webkit-appearance: none;
						background-color: #EEEFF0;
						height: 42px;
						width: 12%;
						text-align: center;
						padding: 10px;
						@include border-radius(5px);
						border: 2px solid rgba($gray, 0.3);
						font-family: "Lato";
						font-size: 17px;
						background-repeat: no-repeat;
						background-size: 15px;
						background-position: 100px 5px;
						background-image: url('select.png');
					}
				}
				label {
					float: left;
					width: 30%;
					height: 50px;
					line-height: 55px;

					&[for=user_password_confirmation] {
						line-height: 20px;
						margin-top: 12px;
					}
				}
				input:not([type=submit]) {
					float: right;
					margin-top: 10px;
				}
			}
			input:not([type=submit]) {
				width: 65%;
				height: 35px;
				font-size: 20px;
				background-color: #EEEFF0;
				@include border-radius(5px);
				border: 2px solid rgba($gray, 0.3);
			}

			input[type=submit] {
				width: 90%;
				margin-top: 35px;
				font-size: 29px;
			}

			#user_remember_me {
				width: 20px;
				position: relative;
				top: 10px;
			}	
		}
		
	.arguments {
		width: 60%;
		float: right;
	}

	&.register-infos {
		background-color: $gray;
		background-image: url("price.png");
		background-repeat: no-repeat;
		background-position: calc(100% - 10px) -10px;
		background-size: contain;
		color: white;
		font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;

		h2 {
			width: 70%;
			margin-top: 15px;
			margin-left: 15px;
			border-bottom: 2px solid white;
		}
		li {
			font-size: 18px;
		}
		.price {
			font-size: 40px;
			width: 150px;
			height: 100px;
			line-height: 100px;
			padding: 10px;
		}
	}
}

#login-error {
	display: none;
	background-color: $orange;
	color: white;
	font-family: "Lato";
	padding: 5px;
	margin-bottom: 10px;
	font-size: 17px;
}
