@import "colors";
@import "mixins";



.container.index {

	@media screen and (max-width: 600px) {
		width: 100%;
	}
	@media screen and (min-width: 600px) and (max-width: 1310px) {
		width: 65%;
		display: block;
		margin: 70px auto;
	}
	width: 75%;
	float: right;
	margin-top: 60px;

	.register {
		@media screen and (max-width: 1300px) {
			width: 60%;
		}
		display: block;
		margin: 35px auto;
		width: 75%;
		font-size: 30px;
		text-align: center;
		border-bottom: 3px solid #27ae60;
		box-shadow: 0px 3px 1px #27ae60;
	}
	.word {
		@media screen and (max-width: 600px) {
			width: 95%;
			display: block;
			margin: auto;
		}
		@media screen and (min-width: 600px) and (max-width: 1310px) {
			width: 95%;
			display: block;
			margin: auto;
		}
		display: inline-block;
		width: 30%;
		margin: 15px;
		text-align: center;

		h2 {
			color: $black;
			font-family: "Lato";
			text-transform: uppercase;
		}

		img {
			@include border-radius(20px);
			width: 210px;
			height: 210px;
			display: block;
			margin: auto;
		}

		p {
			text-align: justify;
			font-family: "Lato";
		}
	}
}

