.container.favoris
	%h1.title 
		Mes favoris

	- unless @screencasts.empty?
		- @screencasts.each do |screencast|
			.box
				= link_to screencast_path(screencast.slug) do
					= image_tag(screencast.image_principale.url)
					%h3= screencast.titre

	- else 
		Vous n'avez pas de favoris.
